<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css" />
    </head>

    <body id="home">
        <header>
            <h1>Popsicle Sticks</h1>
        </header>
        <main>
            <h2>Download</h2>
            <p>Backup your class and student data on your computer.</p>
            <form name="download-data">
                <button>Download data</button>
            </form>
            <h2>Upload</h2>
            <p>Upload class and student data from your computer.</p>
            <form name="upload-data">
                <label for="upload-file"></label>
                <input type="file" name="upload-file" id="upload-file" />
                <button>Upload</button>
            </form>
        </main>
        <script src="../js/main.js"></script>
        <script src="../js/backup.js"></script>
    </body>
</html>
