<!DOCTYPE html>
<html>
  <head>
    <script src="../js/history.js" type="module"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body id="home">
    <header>
      <nav><a aria-label="Back" data-icon="chevron-left" href="./settings.html?back=true" title="Back"></a></nav>
      <h1>Data</h1>
    </header>
    <main>
      <h2>Download</h2>
      <p>Backup your class and student data on your computer.</p>
      <form name="download-data">
        <button>Download data</button>
      </form>
      <hr />
      <h2>Upload</h2>
      <p>
        Upload class and student data that you previously downloaded from this
        extension.
      </p>
      <form name="upload-data">
        <input
          type="file"
          name="file"
          id="file"
          accept=".json"
          aria-label="Upload a data file"
        />
        <button>Upload</button>
      </form>
    </main>
    <script src="../js/backup.js" type="module"></script>
  </body>
</html>
