<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <nav><a href="home.html"><</a></nav>
        <h1 id="className"></h1>
    </header>
    <main>
        <h2>Students</h2>
        <ul id="student-list"></ul>
    </main>
    <footer>
        <section class="input-field">
            <input id="name-input" type="text" placeholder="Add a student (e.g. Carlos V.)" aria-label="Student name" />
            <button id="add-button" type="button">Add</button>
        </section>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/class.js"></script>
</body>

</html>