<!DOCTYPE html>
<html>
  <head>
    <script src="../js/history.js" type="module"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <header>
      <nav><a aria-label="Back" data-icon="chevron-left" href="home.html?back=true" title="Back"></a></nav>
      <h1></h1>
      <button aria-label="delete class" data-icon="trash" id="delete-button" class="reset" title="Delete this class"></button>
    </header>
    <main>
      <h2 id="student-count">Students</h2>
      <small>Listed alphabetically</small>
      <ul id="student-list"></ul>
    </main>
    <footer>
      <form name="add-student">
        <section class="input-field">
          <input
            id="name-input"
            type="text"
            placeholder="Add a student (e.g. Carlos V.)"
            aria-label="Student name"
          />
          <button>Add</button>
        </section>
      </form>
      <div style="margin-top: 0.5rem; text-align: center">
        <a href="bulk.html" id="bulk-link">Add multiple students</a>
      </div>
    </footer>
    <footer>
      <button id="random-link" type="button">Random Picker</button>
    </footer>
    <script src="../js/class.js" type="module"></script>
  </body>
</html>
