<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <nav><a href="popup.html">< Back</a></nav>
        <h1 id="className"></h1>
    </header>
    <main>
        <ul id="student-list"></ul>
    </main>
    <footer>
        <label for="name-input">Add a new student</label>
        <input id="name-input" type="text" placeholder="Try first name and last initial" />
        <button id="add-button" type="button">Add</button>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/classView.js"></script>
</body>

</html>