<!DOCTYPE html>
<html>
  <head>
    <script src="../js/history.js" type="module"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body id="copy">
    <header>
      <nav><a aria-label="Back" data-icon="chevron-left" href="home.html?back=true" title="Back"></a></nav>
      <h1>Copy class</h1>
    </header>
    <main>
      <label for="copy-from">Copy students from</label>
      <select id="copy-from"></select>
      <p id="copy-to">to</p>
    </main>
    <footer>
      <button id="copy-button" type="button">Copy</button>
    </footer>
    <script src="../js/copy.js" type="module"></script>
  </body>
</html>
