<!DOCTYPE html>
<html>
  <head>
    <script src="../js/history.js" type="module"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body id="home">
    <header>
      <h1>Popsicle Sticks</h1>
      <a href="./settings.html">Settings</a>
    </header>
    <main>
      <h2 id="class-count">Classes</h2>
      <ul id="class-list"></ul>
    </main>
    <footer>
      <form name="add-class">
        <section class="input-field">
          <input
            id="name-input"
            type="text"
            placeholder="Add a class"
            aria-label="Class name"
          />
          <button>Add</button>
        </section>
      </form>
    </footer>
    <script src="../js/home.js" type="module"></script>
  </body>
</html>
