<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <header>
        <h1>Classes</h1>
    </header>
    <main>
        <ul id="class-list"></ul>
    </main>
    <footer>
        <section class="input-field">
            <input id="name-input" type="text" placeholder="Add a class" aria-label="Class name" />
            <button id="add-button" type="button">Add</button>
        </section>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/home.js"></script>
</body>

</html>