<!DOCTYPE html>
<html>
  <head>
    <script src="../js/history.js" type="module"></script>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body>
    <header>
      <nav><a aria-label="Back" data-icon="chevron-left" href="home.html" title="Back"></a></nav>
      <h1>Random</h1>
      <button aria-label="Pop out" class="reset" data-icon="external-link" id="pop-out" title="Pop out in new window"></button>
    </header>
    <main class="main--random"></main>
    <footer>
      <section class="random-buttons">
        <button id="prev-button" type="button">Previous</button>
        <button id="next-button" type="button">Next</button>
      </section>
    </footer>
    <script src="../js/random.js" type="module"></script>
  </body>
</html>
