<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles.css" />
  </head>

  <body id="home">
    <header>
      <nav><a aria-label="Back" href="./home.html">&lt;</a></nav>
      <h1>Settings</h1>
    </header>
    <main>
      <p><a href="./about.html">About</a></p>
      <h2>Theme</h2>
      <label for="theme">Select a theme</label>
      <select name="theme" id="theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
      <h2>Data</h2>
      <p>
        <a href="./backup.html"
          >Download or upload your class and student data.</a
        >
      </p>
      <h2>About</h2>
      <p>Version v%VERSION_NUMBER%.</p>
    </main>
    <script src="../js/main.js"></script>
    <script src="../js/settings.js"></script>
  </body>
</html>
