:root {
  --background: white;
  --background-alt: whitesmoke;
  --blue: #0065b2;
  --border-color: #e7e7e7;
  --border-radius: 0.5rem;
  --button-text-color: white;
  --placeholder-text-color: #666;
  --text-color: #333;
}

html,
body {
  height: 100%;
  min-width: 360px;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 20rem;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  margin: 1rem 0;
}

header,
main,
footer {
  padding: 1rem;
}

header > *:first-child,
main > *:first-child,
footer > *:first-child {
  margin-top: 0;
}

header > *:last-child,
main > *:last-child,
footer > *:last-child {
  margin-bottom: 0;
}

header {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

header nav a {
  font-size: 1.25rem;
  font-weight: bold;
}

header nav a:hover {
  color: dodgerblue;
  text-decoration: none;
}

header h1 {
  flex: 1;
  font-size: 1.25rem;
  margin: 0;
}

header * + h1 {
  margin-left: 5px;
}

main {
  flex: 1;
}

/* Links */
a,
a:visited {
  color: var(--blue);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* Icons */

[data-icon] {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

[data-icon]:focus,
[data-icon]:hover {
  background-color: var(--background-alt);
}

[data-icon]::after {
  content: "";
  width: 20px;
  height: 20px;
}

[data-icon="chevron-left"]::after {
  background-image: url("./img/chevron-left.svg");
}

[data-icon="external-link"]::after {
  background-image: url("./img/external-link.svg");
}

[data-icon="gear"]::after {
  background-image: url("./img/gear.svg");
}

[data-icon="trash"]::after {
  background-image: url("./img/trash.svg");
}

[data-icon="x-circle"]::after {
  background-image: url("./img/x-circle.svg");
}

/* Display current random student */
main h1 {
  text-align: center;
  font-size: 2rem;
}

.main--random {
  align-items: center;
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
}

footer {
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

footer .random-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

/* Form */

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}

button:not(.reset) {
  background: var(--blue);
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  color: var(--button-text-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button.reset {
  background: none;
  border: none;
  padding: none;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.input-field {
  display: flex;
}

.input-field button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-field input {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

input,
textarea {
  background: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  flex: 1;
}

input::placeholder {
  color: var(--placeholder-text-color);
}

input[type="file"] {
  margin: 0 0 1rem;
  padding: 0.5rem;
}

p.error-message {
  background: rgb(249, 205, 205);
  border: 1px solid firebrick;
  color: firebrick;
  padding: 0.25rem;
  margin: 0.5rem 0 0;
}

/* Lists */

#student-list {
  max-height: 10rem;
  overflow-y: auto;
  margin-right: -0.5rem;
  padding-right: 0.5rem;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

li:nth-child(even) {
  background: var(--background-alt);
}

#student-list li {
  padding: 0.1rem 0.5rem;
}

/* Page styles */

#bulk textarea {
  min-height: 2rem;
}

#copy main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#copy main > *:not(:first-child) {
  margin-top: 0.5rem;
}

#copy option {
  text-align: center;
}

/* Generics */

.grid {
  display: grid;
  gap: 1rem;
}

.grid.--tight {
  gap: 0.5rem;
}

/* THEMES */

/* Dark */

body[data-theme="dark"] {
  --background: #333;
  --background-alt: #3e3e3e;
  --blue: #60baff;
  --border-color: #3e3e3e;
  --button-text-color: var(--background);
  --placeholder-text-color: #999999;
  --text-color: #f1f1f1;
}
